/*
  * =>> Fonts
*/
@font-face {
  font-family: 'Cera Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/CeraPro-Light.woff2') format('woff2'),
    url('/fonts/CeraPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/CeraPro-Medium.woff2') format('woff2'),
    url('/fonts/CeraPro-Medium.ttf') format('truetype');
}
