.testimonials {
  padding-top: 4rem;
  padding-bottom: 4rem;

  & > h2 {
    margin: 1rem 0 1.4rem;
    @media (min-width: 515px) {
      width: 80%;
    }

    @media (min-width: 740px) {
      width: 70%;
    }

    @media (min-width: 1024px) {
      width: 60%;
    }
  }

  & > p {
    margin-bottom: 1.5rem;
    width: 100%;

    &:nth-child(3) {
      height: 240px;
      @media (min-width: 375px) {
        height: 150px;
      }

      @media (min-width: 768px) {
        height: 100px;
      }
    }
    &:nth-child(4) {
      height: 20px;
    }

    @media (min-width: 768px) {
      width: 90%;
    }

    @media (min-width: 1024px) {
      width: 75%;
    }

    @media (min-width: 1440px) {
      width: 60%;
    }
  }

  & > div {
    margin-top: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-flow: wrap row;

    @media (min-width: 768px) {
      justify-content: space-between;
    }

    .brands {
      display: flex;
      gap: 0 2rem;

      img {
        opacity: 0.3;
        transition: opacity 1s ease;
        &.active {
          opacity: 1;
        }
      }
    }

    .controls {
      margin-top: 2rem;
      display: flex;
      gap: 0 0.7rem;
    }
  }
}
